.App {
	text-align: center;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

body {
	height: 100vh;
	margin: 0;
	background-image: url("../public/ValentineMob1.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: hidden;
}

@media (min-width: 768px) {
	body {
		background-image: url("../public/Valentine.png");
	}
}
